*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font: .9em/1.2 Arial, Helvetica, sans-serif;
    background-color: royalblue;
}

main{
    width: fit-content;   
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr ;
    column-gap: 20px;
}

.options{ 
    height: fit-content;
    font-size: 16px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 11px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    width: 240px;
}
.clear button{
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
}



.container {
    background-color: black;
    display: grid;
    width: 600px;
    height: 600px;
    margin-top: 20px;
    /* grid-template-columns: 2fr 1fr 2fr; */
    /*grid-template-columns: repeat(20, 1fr);*/
    /*grid-template-rows: repeat(20, 1fr); */
    /*aqui nesse caso é redundante */
    
    /*gap: 10px 15px; /*shorthand para column e row (gap)*/
    /* ou gap:10px se o column e row eu quisesse 10px */
    /* ou grid-gap  é a versão completa de gap é melhor usar esse pois o gap é recente*/
    /* column-gap: 10px; 
   row-gap: 10px; */
}

.container>div {
    background-color: #DCDCDC;
    border-top: 1px solid rgb(156, 156, 156, 0.5);
    border-left: 1px solid rgb(156, 156, 156, 0.5);
    user-select: none;
}